@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes blink{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

* {
    font-family: 'Open Sans', sans-serif;
}

#bar {
    opacity: 0;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: 5;
    size: 32px;
}

#bar2 {
    display: none;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    size: 32px;
}

#home {
    display: inline;
}